.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #001427;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.navbar {
  background-color: rgba(14, 14, 14, 0.405) !important;
}
.App-link {
  color: #61dafb;
}
.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 80% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}
.nameMode {
  width: 500px;
  color: red;
  font-weight: 600;
  position: relative;
  padding-left: 12rem;
  animation-name: example;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-fill-mode: both;
}
.nameModeMob {
  color: rgb(245, 249, 27);
  font-weight: 600;
  position: relative;
  animation-name: example;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-fill-mode: both;
}
.buttonContact {
  background-color: rgba(208, 6, 6, 0.645) !important;
  position: relative;
  animation-name: example;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-fill-mode: both;
}
.buttonContactMob {
  background-color: rgba(192, 194, 30, 0.719) !important;
  position: relative;
  animation-name: example;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-fill-mode: both;
}
.social-mediaMob {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding-top: 3rem;
  animation-name: div;
  position: relative;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-fill-mode: both;
  img,
  span {
    font-size: 2rem;
    width: 2.5rem;
  }
}

.social-media {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding-top: 3rem;
  padding-left: 5rem;
  animation-name: div;
  position: relative;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-fill-mode: both;
  img,
  span {
    font-size: 3rem;
    width: 3.5rem;
  }
}

.experience {
  width: 500px;
  position: relative;
  animation-name: example;
  padding-left: 5.5rem;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-fill-mode: both;
  color: rgba(245, 248, 251, 0.789);
}
.content {
  position: relative;
  z-index: 1; /* Ensure content is above the background */
  overflow-y: scroll; /* Enable scrolling for content */
  height: 100vh; /* Ensure content takes full viewport height */
}
.homePageBackground {
  height: 100vh;
  width: 100%;
}

.homePageBackground::before {
  content: "";
  background-image: url("/public/reactcode.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5; /* Set your desired opacity */
  z-index: -1; /* Ensure the background is behind the content */
}
.toolCard {
  position: relative;
  animation-name: tool;
  animation-duration: 2s; /* Adjust the duration as needed */
  animation-iteration-count: 1;
  animation-timing-function: ease-out; /* Smoothly slow down towards the end */
  left: 0; /* Initial position to ensure left property is used */
}

@keyframes tool {
  0% {
    left: -100%; /* Start off-screen to the left */
  }
  100% {
    left: 50%; /* End at the center */
    transform: translateX(-90%); /* Adjust to ensure the element is centered */
  }
}

.skillMedia {
  animation-name: skillMode;
  position: relative;
  animation-duration: 5s;
  animation-delay: 0s;
  animation-fill-mode: both;
}
@keyframes skillMode {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.skillCard {
  position: relative;
  animation-name: skill;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes skill {
  50% {
    left: 800px;
    top: 0px;
  }
  75% {
    left: 0px;
    top: 0px;
  }
}

@keyframes example {
  0% {
    right: 800px;
    top: 0px;
  }
}
@keyframes div {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
